body{
  font-family: 'Montserrat', sans-serif;
  background-image: url(background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  background-color: white;
  width: 500px;
  margin: 150px auto;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
}
label{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 60px;
  padding: 0 10px;
}

input[type="number"]{
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: large;
}

input[type=number]:focus {
  border: 2px solid #555;
}

button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 4px 20px;
  text-align: center;
}

button:hover {
  background-color: #555555;
  color: white;
}



#imt {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#imt td, #imt th {
  border: 1px solid #ddd;
  padding: 8px;
}

#imt tr:nth-child(even){background-color: #f2f2f2;}

#imt tr:hover {background-color: #ddd;}

#imt th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #555555;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}